.featProducts {
    margin: 100px 20px;
}
.featProducts .top {
    display: flex;
    align-items: center;
    margin: 50px;
}
.featProducts .top h1 {
    flex: 2;
}
.featProducts .top p {
    flex: 3;
    color: gray;
}
.featProducts .bottom {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    justify-content: center;
    gap: 30px;
}

/* responsive */

@media (max-width: 1023px) {
    .featProducts {
        margin: 30px 10px;
    }
}
@media (max-width: 767px) {
    .featProducts .top {
        display: block;
        text-align: center;
        margin: 25px;
    }
}