.products {
    padding: 90px 50px 20px;
    display: flex;
}
.products .left {
    flex: 1;
    position: sticky;
    height: 100%;
    top: 50px;
}
.left .filterItem {
    margin-bottom: 30px;
}
.left .filterItem h2 {
    font-weight: 400;
    margin-bottom: 20px;
}
.left .filterItem .inputItem {
    margin-bottom: 10px;
}
.left .filterItem .inputItem label {
    margin-left: 10px;
}
.products .right {
    flex: 3;
}
.right .catImg {
    width: 100%;
    height: 300px;
    object-fit: cover;
    margin-bottom: 50px;
}

/* responsive */
@media (max-width: 1023px) {
    .right .catImg {
        height: 200px;
    }
}

@media (max-width: 767px) {
    .products {
        padding: 20px;
    }
    .right .catImg {
        height: 150px;
    }
}
@media (max-width: 631px) {
    .products {
        display: flex;
        flex-direction: column;
    }
    .products .left {
        display: flex;
        gap: 20px;
    }
}